table, th, td {
    border: 1 color black;
    background-color: white;
    border-collapse: collapse;
    padding: 5px;
}

.red {
    background-color: red;
}

button {
    display: inline-block;
}

header {
    background-color: darkgray;
}

body {
    background-color: lightgray;
}

table {
   
}